/********************  Boaz formating start **********************/

html {
    scroll-behavior: smooth;
}

body {
    max-width: 2570px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

@font-face {
    src: url(../font/MyriadProBlack.otf);
    font-family: MyriadProBlack;
}

@font-face {
    src: url(../font/MyriadProBold.ttf);
    font-family: MyriadProBold;
}

@font-face {
    src: url(../font/MyriadProLight.otf);
    font-family: MyriadProLight;
}

@font-face {
    src: url(../font/MyriadProRegular.ttf);
    font-family: MyriadProRegular;
}

h1,
h3 {
    font-family: MyriadProBlack;
}

h2,
h4 {
    font-family: MyriadProRegular;
}

p {
    font-family: MyriadProLight;
}

:root {
    --color-black-100: hsl(213, 20%, 9%);
    --bg-image-three: url(../img/paralax-box/layer-33.png);
    --bg-image-two: url(../img/paralax-box/layer-32.png);
}

.text-center {
    text-align: center;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.page-flex-box,
.page-next-flex-box,
.page-next-two-flex-box,
.form-group-flex-box {
    display: flex;
    flex-wrap: wrap;
}

.one-page-link {
    text-decoration: none;
    background: #fd5843;
    color: #fff;
    font-size: 5.2vh;
    font-weight: 600;
    padding: 0.3em 0.5em 0.1em 0.5em;
    letter-spacing: 2px;
    position: relative;
    z-index: 100;
    font-family: MyriadProBlack;
}

.one-page-link--color-c {
    color: #000;
}

.page-next-flex-box {
    justify-content: space-between;
    padding: 10em 1.5em 10em 3em;
    z-index: 100;
}

.page-next-flex-box--img-url {
    background: url(../img/paralax-box/layer-31.png);
    background-size: cover;
}

.page-flex-box__div {
    width: 50%;
}

.page-flex-box-text-box,
.page-flex-box-next-text-box {
    right: 0;
}

.page-flex-box-text-box {
    bottom: 13.5%;
}

.page-flex-box-next-text-box {
    bottom: 10.5%;
    color: #fff;
}

.page-flex-box--padding {
    padding: 0 3em;
}

.page-flex-box__div__h2,
.page-flex-box__div__h1,
.page-flex-box__div__h3 {
    font-size: 10vh;
    margin: 0;
}

.page-flex-box__div__h2 {
    font-weight: 400;
}

.page-flex-box__div__h1 {
    line-height: 9.5vh;
}

.page-flex-box__div__h2--color-c,
.page-flex-box__div__h3 {
    color: #fff;
}

.page-flex-box__div__h3 {
    margin-top: -13px;
}

.page-flex-box__div__h3--color-c {
    color: #000;
}

.page-flex-box__div__p {
    font-size: 2.3vh;
    line-height: 3.5vh;
    width: 90%;
    margin-top: 2em;
}

.page-flex-box__div__page-box {
    bottom: 6%;
    z-index: 100;
}

.page-flex-box__div__page-next-box {
    bottom: 19%;
}

.page-flex-box__div__link-box {
    margin: 1.7em 0 0 0;
}

.page-flex-box__div__next-link-box {
    margin: 4em 0 0 0;
}

.page-next-flex-box__img-box__img {
    width: 73%;
}

.page-flex-box--one-img-url {
    background: url(../img/paralax-box/layer-30.png);
    background-size: cover;
    height: 60vh;
}

.page-flex-box--two-img-url,
.page-flex-box--three-img-url {
    background-size: cover;
    height: 28vh;
}

.page-flex-box--two-img-url {
    background-image: var(--bg-image-two);
}

.page-flex-box--three-img-url {
    background-image: var(--bg-image-three);
    margin-top: -1px;
}

.page-flex-box__div__p--format {
    bottom: 0;
}

.page-flex-box__div__h2--format {
    bottom: -5%;
}

.page-flex-box__div__p--format,
.page-flex-box__div__p--two-format {
    color: #fff;
}

.page-flex-box__div__p--format {
    margin: 0;
}

.page-flex-box__div__next-link-box--format {
    bottom: 15%;
}

.page-flex-box__div__p--two-format {
    margin: 1em 0 0 0;
}

.page-next-two-flex-box {
    margin: 0 11rem;
}

.page-next-two-flex-box__div {
    margin: 0 0.3rem;
    width: 32%;
}

.page-next-two-flex-box__div__img-box {
    background: #999999;
    padding: 2.7em 2.5em 2.7em 2.5em;
}

.page-next-two-flex-box__div__img-box__img {
    width: 90%;
    display: block;
    margin: auto;
}

.page-next-two-flex-box__div__text-box {
    background: #fd5843;
}

.page-next-two-flex-box__div__text-box__h4 {
    margin: 0;
    padding: 1em 0;
    color: #fff;
    font-size: 4.2vh;
}

.menu-link,
.page-next-two-flex-box__div__text-box__link {
    text-decoration: none;
}

.page-next-flex-box--color-and-w-value {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 11rem;
    padding: 3em;
    height: 100%;
}

.page-next-flex-box--color-c {
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
}

.parallax-next-item__page-box {
    bottom: -4%;
}


/********************  Header start  **********************/

.above-the-menu-box {
    height: 37vh;
}

.above-the-menu-box__one-img-box {
    bottom: -1em;
    left: 5%;
}

.above-the-menu-box__two-img-box {
    right: 0;
    top: 4em;
}

.above-the-menu-box__one-img-box__img {
    width: 85%;
}

.above-the-menu-box__two-img-box__img {
    width: 75%;
}

#header {
    height: 10em;
}

.navbar {
    width: 100%;
    height: 235px;
    background-size: 100% 100%;
    background-image: url("../img/layer29.png");
    bottom: 5em;
}

.menu {
    position: fixed;
    top: -100%;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: all 0.45s ease-in-out;
}

.menu.is-active {
    top: 0;
    width: 100%;
    height: inherit;
}

.menu-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
    list-style-type: none;
}

.menu-link {
    font-size: 1.6rem;
    line-height: inherit;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.35s ease-in-out;
    padding: 0 0.5em;
    font-family: MyriadProRegular;
}

.menu-link:hover {
    outline: none;
    color: var(--color-red-400);
}

.burger {
    position: relative;
    justify-self: end;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    width: 1.75rem;
    height: 1rem;
    border: none;
    outline: none;
    background: none;
    visibility: visible;
    transform: rotate(0deg);
    transition: 0.35s ease;
}

.burger-line {
    position: absolute;
    display: block;
    right: 0;
    width: 100%;
    height: 2px;
    border: none;
    outline: none;
    opacity: 1;
    transform: rotate(0deg);
    background-color: var(--color-black-100);
    transition: 0.25s ease-in-out;
}

.burger-line:nth-child(1) {
    top: 0px;
}

.burger-line:nth-child(2) {
    top: 0.5rem;
}

.burger-line:nth-child(3) {
    top: 1rem;
}

.burger.is-active .burger-line:nth-child(1) {
    top: 0.5rem;
    transform: rotate(135deg);
}

.burger.is-active .burger-line:nth-child(2) {
    right: -1.5rem;
    opacity: 0;
    visibility: hidden;
}

.burger.is-active .burger-line:nth-child(3) {
    top: 0.5rem;
    transform: rotate(-135deg);
}


/********************  Slide start **********************/

.splide__slide__img {
    width: 100%;
    height: 95vh;
    object-fit: cover;
}


/********************  Parallax start **********************/

.parallax-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.parallax-one-item {
    background: url(../img/layer24.png);
    background-size: cover;
    margin-bottom: 23em;
    height: 128vh;
}

.parallax-item__one-img-box__img {
    bottom: 5%;
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.facebook-link-box {
    background: #fd5843;
    margin-top: .5em;
    padding-bottom: 13em;
}

.facebook-link-box__img {
    width: 5%;
}

.parallax-item__one-img-box {
    bottom: 10em;
    margin: 0 11rem;
}

.parallax-next-item {
    background: url(../img/Layer25.jpg);
    background-size: 100% 100%;
    margin-bottom: 4em;
    height: 100%;
}

#next-parallax {
    margin-top: 8.5em;
}

.parallax-next-two-item {
    background: url(../img/Layer26.jpg);
    background-size: 100% 100%;
    height: 100%;
}


/********************  Blog or Apartment ? start **********************/

.som-box__p {
    font-size: 4vh;
    margin: 0.5em 0 0 0;
    letter-spacing: 2px;
}

.som-box__link {
    font-family: MyriadProRegular;
    color: #000;
}


/********************  Footer start **********************/

footer {
    background: #fd5843;
    padding: 8em 11rem 0 11rem;
}

input {
    padding: 0.7em 0 0.7em 0;
}

textarea {
    height: 45vh;
    padding-top: 6.8em;
}

input,
textarea {
    border: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    color: #999999;
    font-size: 3vh;
    font-weight: 300;
}

.form-group-flex-box__div {
    width: 50%;
}

.form-group-flex-box__div__input-box {
    margin-right: 1.5em;
}

.form-group-flex-box__div__input-box--value {
    margin-right: 0;
    margin-left: 1.5em;
}

.form__submit-box {
    width: 25%;
    margin: auto;
}

.form__submit-box__btn {
    background: #000;
    color: #fff;
    padding: 0.6em 0 0.5em 0;
    cursor: pointer;
    font-family: MyriadProBlack;
}

.footer__one-img {
    top: -13%;
    width: 100%;
    left: 0;
}


/********************  Copyright start **********************/

.copyright__img {
    width: 13%;
    margin: 2em 0;
}


/********************  Media start **********************/


/********************  menu start **********************/

@media only screen and (min-width: 62rem) {
    .navbar {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 36rem) {
    .menu {
        position: relative;
        justify-self: end;
        top: 10em;
        left: inherit;
        width: auto;
        height: auto;
        padding-block: 0;
        background: none;
        box-shadow: none;
        transition: none;
    }
    .menu-inner {
        display: flex;
        flex-direction: row;
        column-gap: 1.25rem;
        margin: 0 auto;
    }
    .menu-link {
        text-transform: capitalize;
    }
}

@media only screen and (min-width: 36rem) {
    .burger {
        display: none;
        visibility: hidden;
    }
}


/********************  menu end **********************/

@media (min-width: 1800px) and (max-width: 2000px) {}

@media (min-width: 1600px) and (max-width: 1800px) {}

@media (min-width: 1500px) and (max-width: 1600px) {}

@media (min-width: 1400px) and (max-width: 1500px) {}

@media (min-width: 1200px) and (max-width: 1400px) {}

@media (min-width: 991px) and (max-width: 1200px) {
    .above-the-menu-box__two-img-box {
        right: 0;
        top: 2em;
    }
    .menu-link {
        font-size: 1.4rem;
    }
    .parallax-item__one-img-box,
    .page-next-two-flex-box,
    .page-next-flex-box--color-and-w-value {
        margin: 0 6rem;
    }
    .page-flex-box-text-box {
        bottom: 10.5%;
    }
    .som-box__p {
        font-size: 3vh;
    }
    .footer__one-img {
        top: -10%;
    }
    footer {
        padding: 0 6rem;
    }
    .footer__form {
        padding-top: 7rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .above-the-menu-box__one-img-box__img,
    .above-the-menu-box__two-img-box__img {
        width: 70%;
    }
    .above-the-menu-box__two-img-box {
        top: 2em;
    }
    .menu-link {
        font-size: 1.3rem;
    }
    .facebook-link-box__img {
        width: 7%;
    }
    .parallax-item__one-img-box,
    .page-next-two-flex-box,
    .page-next-flex-box--color-and-w-value {
        margin: 0 2rem;
    }
    .page-flex-box-text-box {
        bottom: 7.5%;
    }
    .page-next-two-flex-box {
        flex-wrap: unset;
    }
    .som-box__p {
        font-size: 3vh;
    }
    footer {
        padding: 0 2rem;
    }
    .footer__form {
        padding-top: 5rem;
    }
    .footer__one-img {
        top: -10%;
    }
}

@media screen and (max-width: 767px) {
    .above-the-menu-box__one-img-box {
        bottom: unset;
        left: 5%;
        top: 2em;
    }
    .above-the-menu-box__two-img-box {
        right: 0;
        top: 2em;
    }
    .above-the-menu-box__two-img-box__img {
        width: 70%;
    }
    .parallax-item__one-img-box,
    .page-next-two-flex-box,
    .page-next-flex-box--color-and-w-value {
        margin: 2rem;
    }
    .page-flex-box,
    .page-next-flex-box,
    .page-next-two-flex-box,
    .form-group-flex-box {
        flex-wrap: unset;
        flex-direction: column;
    }
    .page-flex-box__div {
        width: 100%;
    }
    .splide__slide__img {
        height: 100%;
    }
    .parallax-one-item {
        margin-bottom: 8em;
        height: 200vh;
        background-size: contain;
        background-repeat: round;
    }
    .page-next-flex-box {
        padding: 3rem 0 0 0;
    }
    .page-next-flex-box__img-box__img {
        width: 80px;
        height: 80px;
        display: block;
        margin: auto;
        margin-bottom: 3em;
    }
    .page-flex-box--two-img-url,
    .page-flex-box--three-img-url {
        height: 46vh;
    }
    .page-flex-box__div__p {
        width: 100%;
        margin-top: 0;
        padding: 0;
    }
    .page-flex-box__div__h2--format {
        bottom: unset;
    }
    .page-flex-box__div__p--format {
        bottom: unset;
    }
    .page-next-two-flex-box__div {
        margin: 0 0.3rem;
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .page-next-two-flex-box__div__img-box__img {
        width: 70%;
    }
    .som-box__p {
        font-size: 3vh;
        margin: -1.5em 0 0 0;
    }
    .parallax-item {
        min-height: unset;
    }
    .parallax-next-item__page-box {
        position: relative;
        bottom: 0;
    }
    .page-flex-box__div__next-link-box {
        margin: 1.7rem 0 2.5rem 0;
    }
    .footer__one-img {
        top: -12%;
        height: 20vh;
    }
    footer {
        padding: 0 2rem;
    }
    .footer__form {
        padding-top: 5rem;
    }
}

@media (min-width: 640px) and (max-width: 768px) {}

@media (min-width: 500px) and (max-width: 640px) {}

@media (min-width: 400px) and (max-width: 500px) {}

@media (min-width: 300px) and (max-width: 400px) {}